<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gerenciamento</title>
</head>
<body>

    <h1>Nível dos Reservatórios:</h1>
        <h2>1-Barras visuais (0% a 100%) mostrando a quantidade de líquido restante em cada reservatório (calculado pelo banco e validado pelo sensor de nível);
            <br>
        </h2>
    <h1>Formulário de Reabastecimento:</h1>
        <h2>1-Campo onde o gerente digita o volume em ml adicionado e clica em "Atualizar Estoque";
            <br>
        </h2>
    <h1>Relatórios e Análise de Demanda (Gráficos via Chart.js):</h1>
        <h2>1-Rank de Bebidas mais Vendidas: Gráfico de barras indicando os sucos com maior saída (ex: Suco de Limão em 1º lugar);<br>
            2-Consumo de Insumos: Gráfico mostrando o gasto de cada matéria-prima ao longo do período para prever compras de frutas/sumos;<br>
            3-Faturamento / Quantidade Total: Indicador numérico do total de copos servidos no dia, semana ou mês;
            <br>
        </h2>
    <h1>Cadastro e Edição do Cardápio (CRUD):</h1>
    <h2>1-Criar/Editar/Excluir Bebida: Formulário para cadastrar uma nova receita (definindo o nome e o tempo em milissegundos que cada mini bomba deve
        ficar ligada e editando essas informações e Ativar/Desativar temporariamente a bebida);<br>
        2-Ativar/Desativar Item: Opção de ocultar temporariamente uma bebida do cardápio da Tela de Operação;
        <br>
    </h2>
    <h1>Histórico Geral</h1>
    <h2>1-Tabela do Histórico Geral completa, registrando todas as transações salvas no MySQL (Ex: ID do Pedido, Data/Hora, Bebida, Tempo de Dosagem, Status);
        <br>
    </h2>

</body>
</html>