<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Operação</title>
</head>
<body>
    <h1>Gid com as bebidas:</h1>
        <h2>1-botão de preparar drink;<br>
            2-desativa a opção com bebidas que tão com recursos insuficientes
            e colocar quantas o estoque consegue fazer;<br>
        </h2>
    <h1>Status da máquina:</h1>
        <h2>1-conexão da máquina(on/off);<br>
            2-barra de progresso da bebida;<br>
            3-sensor de copo(bloquear se tiver sem(perguntar se tem sensor de copo));<br>
        </h2>
    <h1>Fila de pedidos</h1>
        <h2>1-Status do pedido(concluído em preparo ou erro);<br>
            2-Lista com os últimos 10 pedidos;<br>
        </h2>
</body>
</html>